@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    margin: 0;
}
body{
    background: url(Assets/bg-1.jpg)no-repeat;

    }
/*------------------ NAVBAR-------------------- */

.page-logo{
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.brandname{
    cursor: pointer;
    color: #FF6624;
    font-family: 'Poppins', sans-serif;
}

.logo{
    width: 65px;
}
header{
    z-index: 1;
    position: sticky;
    top: 0;
}
.navbar{
    padding: 20px 75px 20px 75px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
ul{
    display: flex;
    gap: 4rem;
}
a{
    text-decoration: none;
}
.nav p{
    font-size: 20px;
    font-family: 'Playfair Display',sans-serif;
}
li{
    cursor: pointer;
    text-align: center;
    list-style: none;
}
.fa-solid{
    font-size: 23px;
    color: #797575;
}

.fa-solid:hover{
    transition: all 0.3s ease;
    color: #FF6624;
}

.nav-names{
    margin-top: 3px;
    color: #797575;
}

.active{
    font: 0s;
    color: #FF6624;
}
.white{
    color: #ffffff;
}
.callbut{
    display: flex;
    align-items: center;
}
.callbut i{
    margin-right: 10px;
}
.callb{
    font-family: 'DM Sans',sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
    padding: 10px 14px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    background-color: #FF6624;
}

.callb:hover{
    transition: all 0.3s ease;
    background-color: transparent;
    outline: 1px solid #FF6624;
    color: #FF6624;
}
.callb:hover i{
    color: #FF6624;
}
.socials{
    display: flex;
    align-items: center;
    color: #797575;
    font-size: 20px;
    gap: 1rem;
}
.socials:hover{
    transition: all 0.3s ease;
    color: #FF6624;
}
/*------------------ NAVBAR-------------------- */


/* ------------------------LANDING PAGE ---------------------*/
.maintxt{
    display: flex;
    margin: 150px auto 150px;
    justify-content: flex-end;
}

.txt{
    text-align: center;
}

main{
    padding: 80px;
}   
.foodrec, span{
    margin-top: 50px;
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}

span{
    color:#FF6624;
}

.main-p{
    margin: 20px 0 50px 0;
    font-family: sans-serif;
    font-size: 25px;
}

.get-but{
    font-weight: 600;
    cursor: pointer;
    border-radius: 12px;
    background-color: #FF6624;
    border: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 12px 18px;
}

.get-but:hover{
transition: all 0.5s ease;
color: #FF6624;
background-color: transparent;
outline: 1px solid #FF6624;
}
/* ------------------------LANDING PAGE ---------------------*/


/*--------------------------------------- TESTE  SECTION--------------------------------------N*/
.sec2 h1{
    margin-top: 150px;
    font-weight: 600;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.teste{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 100px 0 100px;
}
.content h2{
    font-size: 30px;
    font-weight: 600;
}
.teste-food{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 3rem;
    gap: 1rem;
    transition: all 0.5s ease;
}
.content p{
    font-size: 25px;
}

.teste-food:hover{
    color: #ffffff;
    transition: all 0.5s ease;
    background-color: #FF6624;
}

.teste-food img{
    border-radius: 25px;
    width: 200px;
}
/* -----------------------READ MORE BUTS----------------------------- */
.read-more{
    font-weight: 500;
    cursor: pointer;
    border-radius: 12px;
    font-size: 15px;
    padding: 12px 20px;
    background-color: #FF6624;
    color: #ffffff;
    border: none;
}

.read-more:hover{
    background-color: transparent;
    transition: all 0.3s ease;
    outline: 1px solid #FF6624;
    color: #fc5025;
}

hr{
    width: 40%;
    color: #797575;
    margin: auto auto 50px auto;
}

.readmore{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 100px;
}
/* -----------------------READ MORE BUTS----------------------------- */

/*--------------------------------------- TESTE  SECTION--------------------------------------N*/

/* -----------------------------------------RECIPE SECTION------------------------------ */
.sec3 h1{
    margin-bottom: 50px;
    font-weight: 600;
    text-align: center;
    font-size: 40px;
}
.recipe-images img{
    transition: all 0.5s ease;
    width: 400px;
}

.recipe-images{
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 380px);
    grid-column-gap: 1rem;
}

.recipe-images img:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
}

/* -----------------------------------------RECIPE SECTION------------------------------ */

/* -------------------------------------BLOG SECTION-------------------------------------- */
.sec4 h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}
.circles{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: auto auto 50px;
}
.circle{
    width: 25px;
    height: 25px;
    background-color: #D9D9D9;
    border-radius: 100%;
}
.active-circle{
    background-color: #FF6624;
}
.right i, .left i{
    font-size: 50px;
    cursor: pointer;
    color: #D9D9D9;
}
.arrows{
    display: flex;
    align-items: center;
    margin: 0 100px 200px 100px;
}
.chef{
    display: flex;
    align-items: center;
}
.chef img{
    margin: 50px 20px 0px 250px;
    border: 12px solid #FF6624;
    width: 250px;
    border-radius: 100%;
}

.chef-txt{
    width: 60%;
}
.chef-txt h2{
    font-weight: 600;
    font-size: 35px;
}
.chef-txt p{
    font-size: 25px;
}

.quote-top i{
    color: #D9D9D9;
    position: absolute;
    margin-top: -150px;
    right: 82%;
    font-size: 60px;
}
.quote-bot i{
    color: #D9D9D9;
    position: absolute;
    margin-top: 80px;
    left: 65%;
    font-size: 60px;
}

.blog-footer{
    margin-bottom: 100px;
}

.blog-readmore{
    margin-bottom: 150px;
}
/* -------------------------------------BLOG SECTION-------------------------------------- */

/*---------------------------------- FOOTER---------------------------------- */
.orangebg{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 50px 20px 200px;
    background-color: #FF6624;
    width: 100%
}
.m, .r{
    margin-top: 100px;
}
.m .links{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.m .links a{
    text-align: center;
    text-decoration: none;
}
.foot-logo{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.foot-logo img{
    width: 100px;
}
.l{
    margin-left: -50px;
}
.foot-logo h1, 
.orangebg h3, 
.m .links a,
.orangebg i,
.footer-txt p{
    color: #ffffff;
}

.social-footers i{
    cursor: pointer;
    margin-right: 1rem;
}

.banks{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.banks img{
    width: 60px;
}

input{
    color: #ffffff;
    width: 250px;
    border: 1px solid #ffffff;
    background-color: transparent;
}
.payments{
    display: flex;
    float: right;
    margin-right: 100px;
    flex-direction: column;
    gap: 7px;
}
.send{
    cursor: pointer;
    border-radius: 6px;
    background-color: #ffffff;
    border: none;
    color: #FF6624;
    font-weight: 600;
    padding: 6px 14px;
}
/*---------------------------------- FOOTER---------------------------------- */


